* {
  font-family: 'Open Sans Condensed', sans-serif;
}
section, footer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.layer {
  padding-left: 450px;
  padding-right: 450px;
  text-align: center;
  font-family: 'Lora', serif;
}
span {
  font-size: 13px;
}
i {
  font-family: 'Lora', serif;
}
